<style>
    #house
    {
        max-height: 400px;
        /*margin: 0 auto;*/
        -moz-transition: 0.20s ease-out;
        -webkit-transition: 0.20s ease-out;
        -o-transition: 0.20s ease-out;
        transition: 0.20s ease-out;
    }

        #house:hover
        {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            -o-transform: scale(0.9);
            transform: scale(0.9);
        }

    #footer
    {
        max-width: 700px;
        font-size: 0.70em;
        background: url('images/smalltau.jpg') no-repeat left top;
        margin: 20px 0 10px 0;
        padding-left: 50px;
    }
</style>
<div class="container">
    <h2>
        WELCOME TO THE
        POOR CLARES
        OF ARUNDEL
    </h2>

    <p>We are sisters, who share prayer, work, laughter and struggles,
        and live according to the Form of Life drawn up by
        St Clare of Assisi in 1253. <a href="/us">Learn more about us...</a></p>

    <p class="alert alert-info"><a href="http://www.stylist.co.uk" target="_blank">The Stylist magazine</a> wrote an article about us!   Read it <a href="/Content/Stylist_Life_in_a_convent.pdf" target="_self">here</a>.</p>

    <a href="/us" title="Learn more about us..."><img id="house" src="images/house.jpg" alt="Click here to enter..." class="img-responsive img-rounded" /></a>

    <div id="footer">
        © Community of Poor Clares, Arundel 2014<br />
        Convent of Poor Clares, Crossbush, Arundel, BN18 9PJ<br />
        e-mail: <a href="mailto:poorclarescrossbusharundel@hotmail.co.uk">poorclarescrossbusharundel@hotmail.co.uk</a><br />
        <br />
        Photos by Norman Shepherd, Soraya Kishtwari, and members of the community.<br />
        Photos in the 'Convent' site by members of the TV crew.
    </div>
</div>